<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".tasker.ActionConfig$WifiConfig"
            android:exported="true"
            android:label="@string/tethering_manage_wifi">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActionConfig$BluetoothConfig"
            android:exported="true"
            android:label="@string/tethering_manage_bluetooth">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActionConfig$USBConfig"
            android:exported="true"
            android:label="@string/tethering_manage_usb">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.ActionConfig$EthernetConfig"
            android:enabled="@bool/api_ge_30"
            android:exported="true"
            android:label="@string/tethering_manage_ethernet">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.GetStateConfig"
            android:exported="true"
            android:label="@string/tasker_get_tethering_state">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tasker.TetheringEventConfig"
            android:exported="true"
            android:label="@string/tasker_tethering_state_update">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
